###################
# backup files
###################
*.bak
*.bck
*cache.lib
$*
*.swp
*.000
*~

################
# Output files
################
*.o
*.so
*.so.*
*.a
*.bin
*.d
*.la
*.lo
*.log
*.trs
*.tar.*
*.gch
coverage_html/
coverage.info
*.gcda
*.gcno

################
# test files
################
test_ehht_clear
test_ehht_foreach_element
test_ehht_keys
test_ehht_new
test_ehht_put_get_remove
test_ehht_resize
test_ehht_collision_resize
test_flyweight
test_out_of_memory
test-*-dynamic
test-*-static
test-ehht
demo-ehht
demo-ehht-as-array

################
# autotools junk
################
.libs/
INSTALL
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
build-aux/
config.h
config.h.in
config.log
config.status
configure
.deps/
.dirstamp
libtool
m4/
stamp-h1
